.find-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

.find-icons__icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.find-icons__icon i {
    margin: 20px 0px;
}

.recommended-friends {
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding-top: 25px;
    color: rgba(0, 0, 0, 0.5);
}

.recommended-friends__subtitle {
    display: inherit;
    text-align: center;
    padding: 90px 0px;
}