#no-mobile {
    display: flex;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999;
    background-color: var(--yellow);
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

@media screen and (max-width: 600px) {
    #no-mobile {
        display: none;
    }
}